<h2>So many activites to choose from</h2>

<br />

<u><h3><a href="https://beachboardwalk.com/" target="_blank">Santa Cruz Beach Boarwalk</a></h3></u>
	<p>Located right on the shoreline of the Monterey Bay, the Santa Cruz beach boarwalk is one of the oldest surving amusement parks, and one of the many few remaining on the West Coast. Days can be spent soaking up sun on the beach or riding many of the amusement rides. The most iconic ride is the Giant Dipper. Built in 1924, this coaster is one of the last wooden coasters and has gained fame world wide. Climb the 70 foot track and take in beautiful sights of the coast before taking the plunge. During the summers when the park is open daily, weekly concerts are hosted on the beach every Friday evening.</p>
		
		


<br /><br /><br />		

<u><h3><a href="https://www.capitolavillage.com/" target="_blank">Capitola Village</a></h3></u>	
	<p>Hidden away about fifteen minutes from the business of downtown Santa Cruz, Capitola Village is a unique spot on the water. Walk along the esplanade and discover great restuarants with spectacular views of the bay. This sweet little spot has it's own beauty. Historic train tracks run acorss the the hill above. Stand on the bridge and get a sweeping view of the water. It's the perfect place to grab some lunch and head to the beach as it's just off the esplanade path.</p> 

<br /><br /><br />

<u><h3><a href="https://www.montereybayaquarium.org/" target="_blank">Monterey Bay Aquarium</a></h3></u>
	<p></p>



