<h2>Find delicious food</h2>

<br /><br /><br />

<div class="booyah-box col-10 offset-1">		
	<u><h3><a href="https://www.shadowbrook-capitola.com/" target="_blank">Shadowbrook</a></h3></u>
		<p>If you're looking for a more formal restuarant with delicious food, look no further. Shadowbrook is located just up from Capitola Village, tucked away on the hillside. Parking is on the street and then you can either take the gondola down to the main building, or walk down through the landscaped gardens. If you sit on their patio, you can enjoy great views of the Soquel River as it flows in to Capitola Village. The menu primarily consists of delicious pastas, steaks, and seafood.</p>
</div>	

<br /><br /><br >

<div class="booyah-box col-10 offset-1">	
	<u><h3><a href="http://www.crowsnest-santacruz.com/" target="_blank">Crows Nest</a></h3></u>
		<p>Located right at the mouth of the Santa Cruz Harbor, the Crows Nest is one of the best spots for great food and amazing ocean views. They offer a wide range of food from burgers and pasta to fresh-caught seafood. Sit on the deck and enjoy the sun while looking out over the coastal beaches. During the summers on Wednesday nights, watch the local sailboat races on the water infront of you.</p>
</div>
	

<br /><br /><br />

<div class="booyah-box col-10 offset-1">	
	<u><h3><a href="http://www.rivafishhouse.com/" target="_blank">Riva Fish House</a></h3></u>
		<p>Open for lunch and dinner, this great spot is located right on the Santa Cruz Warf. Riva Fish House offeres primarily seafood and sandwiches. Look out the window from your table and take in the amazing marine life around you. After a great meal, enjoy a walk down the warf and take in the beautiful sites of the coast. At the very end of the warf, you can usually hear the sea lions as the relax on the planks below.</p>
	
</div>	
