<h2>So much to see</h2>

<br /><br /><br >

<div class="booyah-box col-10 offset-1">
	<div class="train"><%= image_tag "roar.jpg" %></div>
		<u><h3><a href="https://www.roaringcamp.com/" target="_blank">Roaring Camp Railroads</a></h3></u>
			<p>Located in the Santa Cruz Mountains, Roaring Camp Railroads is a fun place for the whole family. Board a locomotive and enjoy the ride through the scenic forests down to the Santa Cruz Beach Boardwalk. Feel immersed in the grove of redwood trees and enjoy the beauty of the nature around you. You might even see a famous banana slug. After a fun day at the beach, you can board the train and head into the mountains for your trip back.</p>
</div>

<br /><br /><br />

<div class="booyah-box col-10 offset-1">
	<div class="ocean"><%= image_tag "westcliff2.jpg"%></div>
		<u><h3>West Cliff Drive</h3></u>
		<p>A favoirte spot for locals, West Cliff Drive is a stretch of coast with some of the best views in the town. You can walk/drive/or ride bikes along this stretch. Stop at the Surf Museum and learn more about the towns surf history. The iconic lighthouse sits on West Cliff and makes a great spot for pictures. One of Santa Cruz's famous famous surf spots, Steamer's Lane, is visible from West Cliff so you're sure to see some surfers catching waves below.</p>		
</div>

<br /><br /><br />

<div class="booyah-box col-10 offset-1">
	<div class="bridges"><%= image_tag "natural2.jpg" %></div>
		<u><h3><a href="http://www.parks.ca.gov/?page_id=541" target="_blank">Natural Bridges</a></h3></u>
			<p>Located at the end of West Cliff Drive, this California state park known for its feature of a natural bridge across the beach, Natural Bridges is a local favorite for beautiful sights on the ocean. The park is also a hotspot to see the migrations of Monarch Butterflies. The Butterfly Natural Reserve is home to over 150,000 monarch butterflies during the months of October through early February.</p>
</div>			