@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
	background: image_url('sunset.jpg') no-repeat center center fixed;
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
	background: image_url('purple.png');
	box-shadow: 0px 1px 3px #2a2a2a;
	margin-bottom: 0;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-inverse .navbar-brand {
	color: #C0DCF4;
	font-family: 'Montserrat', sans-serif; 
	
}

nav-item {
	color: #A50D40;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 75px;
	text-align: center;
}

h2 {
	font-family: 'Dancing Script', cursive;
	font-size: 70px;
}

h3 {
	color: white;
	margin-left: 55px;
	margin-right: 55px;
}

p {
	color: white;
	max-width: 40%;
	margin-left: 50px;
}

