@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
	background: image_url('sunset.jpg') no-repeat center center fixed;
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
	background: image_url('grey.png');
	box-shadow: white;
	margin-bottom: 0;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-inverse .navbar-brand {
	color: #C0DCF4;
	font-family: 'Montserrat', sans-serif; 
	position: right;
	
}

nav-item {
	color: #A50D40;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 75px;
	text-align: center;
}

h2 {
	font-family: 'Dancing Script', cursive;
	font-size: 70px;
	text-align: center;
}

h3 {
	color: #1F85DE;
	margin-left: 55px;
	margin-right: 55px;
}

u {
	color: #1F85DE;
}

p {
	color: black;
	max-width: 70%;
	margin-left: 50px;
}

.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: rgba(255,255,255,0.5);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.pic1 {
	float: right;
	margin-right: 70px;
}

.village {
	float: right;
	maring-right: 70px;
}

.pic3 {
	float: right;
	margin-right: 70px;	
}

.train {
	float: right;
	margin-right: 70px;
}

.ocean {
	float: right;
	margin-right: 70px;
}

.bridges {
	float: right;
	margin-right: 70px;
}
