@import "bootstrap";

body {
	background: image_url('restaurant.png');
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.navbar {
	background: image_url('low_contrast_linen.png');
	box-shadow: 0px 1px 3px #2a2a2a;
}