<h1>Share your experience</h1>

<div class="booyah-box col-10 offset-1">
	<%= simple_form_for Review.new do |f| %>
		<%= f.input :message %>
		<%= f.submit 'Post' %>
	<% end %>	
</div>	

<br /><br /><br />

<%= :message %>

